.content-wrapper {
  flex: 1;
  min-height: 0;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  .content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: white;
      font-family: fontNaslov;
      font-size: 22px;
      text-align: center;
    }

    .content-search {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      box-sizing: border-box;
      background: linear-gradient(to right, #12444e, #303444, #23243b);
      width: 90%;
      border-radius: 15px;
      border: 1px solid transparent;
      background:
        linear-gradient(to right, #12444e, #303444, #23243b) padding-box,
        linear-gradient(to right, #48859d, #636883) border-box;

      svg {
        height: 22px;
        color: white;
      }
      input {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        color: white;
        font-family: fontText;

        &::placeholder {
          color: white;
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
  .content-body {
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-direction: column;
      h2 {
        font-family: fontText;
        color: white;
        font-size: 18px;
        text-align: center;
      }
      .characters {
        padding-top: 10px;
        padding-bottom: 15px;
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 16px;

        .character-card {
          width: 80%;
          border-radius: 20px;
          box-shadow: 0px 0px 10px 1px white;
          display: flex;
          flex-direction: column;

          .character-photo {
            width: 100%;
            flex-grow: 4;
            img {
              width: 100%;
              height: 100%;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }
          }
          .character-name {
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            text-align: center;
            font-family: fontText;
            font-size: 12px;
            flex-grow: 1;
          }
        }

        .ant-result {
          grid-column: 1 / -1;
          justify-self: center;
          .ant-result-icon {
            span {
              svg {
                color: white;
              }
            }
          }
          .ant-result-title {
            font-family: fontText;
            color: white;
            font-size: 18px;
          }
          .ant-result-subtitle {
            font-family: fontText;
            color: white;
            font-size: 14px;
          }
        }

        .loading-characters {
          font-family: fontText;
          font-size: 16px;
          color: white;
          grid-column: 1 / -1;
          justify-self: center;
          .loading-spin {
            display: flex;
            justify-content: center;
            padding-top: 5px;
            .ant-spin-dot {
              color: white;
            }
          }
        }

        .no-characters-found {
          font-family: fontText;
          color: white;
          font-size: 17px;
          grid-column: 1 / -1;
          justify-self: center;
          .no-characters-found-animation {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
      transform: scale(0.85);
      .ant-pagination-item-ellipsis {
        color: white;
      }
      svg {
        color: white;
      }
    }
  }
}

@media (min-width: 768px) {
  .content-wrapper {
    .content-header {
      h1 {
        font-size: 24px;
      }
      .content-search {
        width: 60%;
        svg {
          height: 22px;
          color: white;
        }
      }
    }
    .content-body {
      margin-top: 40px;
      .content {
        h2 {
          font-size: 21px;
        }
        .characters {
          padding-top: 15px;
          padding-bottom: 20px;
          grid-template-columns: repeat(4, 1fr);
          row-gap: 30px;

          .character-card {
            .character-name {
              font-size: 14px;
            }
          }
          .loading-characters {
            font-size: 22px;
          }
          .no-characters-found {
            font-size: 22px;
          }
          .ant-result {
            .ant-result-title {
              font-size: 21px;
            }
            .ant-result-subtitle {
              font-size: 17px;
            }
          }
        }
      }
      .pagination {
        transform: scale(0.95);
      }
    }
  }
}
@media (min-width: 1024px) {
  .content-wrapper {
    .content-header {
      h1 {
        font-size: 25px;
      }
      .content-search {
        width: 50%;
        svg {
          height: 24px;
          color: white;
        }
      }
    }
    .content-body {
      margin-top: 15px;
      .content {
        .characters {
          grid-template-columns: repeat(5, 1fr);
          .character-card {
            .character-name {
              font-size: 15px;
            }
          }
          .loading-characters {
            font-size: 23px;
          }
          .no-characters-found {
            font-size: 23px;
          }
          .ant-result {
            .ant-result-title {
              font-size: 22px;
            }
            .ant-result-subtitle {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
