.content-wrapper {
  flex: 1;
  min-height: 0;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  .content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: white;
      font-family: fontNaslov;
      font-size: 25px;
      text-align: center;
    }

    .content-search {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      box-sizing: border-box;
      background: linear-gradient(to right, #12444e, #303444, #23243b);
      width: 90%;
      border-radius: 15px;
      border: 1px solid transparent;
      background:
        linear-gradient(to right, #12444e, #303444, #23243b) padding-box,
        linear-gradient(to right, #48859d, #636883) border-box;

      svg {
        height: 25px;
        color: white;
      }
      input {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        color: white;
        font-family: fontText;

        &::placeholder {
          color: white;
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
  .content-body {
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-direction: column;
      h2 {
        font-family: fontText;
        color: white;
        font-size: 1.2em;
        text-align: center;
      }
      .characters {
        padding-top: 10px;
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .character-card {
          width: 65%;
          border-radius: 20px;
          // border: 1px solid white;
          box-shadow: 0px 0px 10px 1px white;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          img {
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
          .character-name {
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            text-align: center;
            font-family: fontText;
          }
        }

        .ant-result {
          .ant-result-icon {
            span {
              svg {
                color: white;
              }
            }
          }
          .ant-result-title {
            font-family: fontText;
            color: white;
            font-size: 1.3em;
          }
          .ant-result-subtitle {
            font-family: fontText;
            color: white;
          }
        }

        .loading-characters {
          font-family: fontText;
          color: white;
          .loading-spin {
            display: flex;
            justify-content: center;
            padding-top: 5px;
            .ant-spin-dot {
              color: white;
            }
          }
        }

        .no-characters-found {
          font-family: fontText;
          color: white;
          font-size: 1.3em;
          .no-characters-found-animation {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;

      .ant-pagination-item-ellipsis {
        color: white;
      }

      svg {
        color: white;
      }
    }
  }
}

.ant-modal-container {
  border: 1px solid #3374c3 !important;
  background-color: #112a3e !important;
  padding: 12px !important;
  border-radius: 20px !important;
  font-family: fontText;
  color: white;
  box-shadow: 0px 0px 10px 2px #3374c3 !important;

  .ant-modal-close-x {
    color: white !important;
  }

  .character-photo {
    text-align: center;

    img {
      border-radius: 50% !important;
      border: 2px solid #3374c3 !important;
    }
  }

  .character-name {
    text-align: center;
  }
  .add-to-favorites {
    text-align: center;

    button {
      border: none !important;
      background-color: #4ca343 !important;
      color: white;
      font-family: fontText;
    }

    button:hover {
      color: white !important;
      background-color: #66bc5c !important;
    }
  }

  .character-status-alive {
    color: #4ca343;
  }
  .character-status-dead {
    color: #ff3333;
  }
  .character-status-unknown {
    color: #e68a00;
  }
}
