.favoritesContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
  min-height: 0;

  .favorites-title {
    text-align: center;
    font-family: fontNaslov;
    color: white;
    font-size: 12px;
  }
  .favorite-characters {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    row-gap: 16px;

    .character-card {
      width: 80%;
      border-radius: 20px;
      box-shadow: 0px 0px 10px 1px white;
      display: flex;
      flex-direction: column;

      .character-photo {
        width: 100%;
        flex-grow: 4;
        img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
      }

      .character-name {
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-family: fontText;
        font-size: 0.7em;
        flex-grow: 1;
      }
    }
    .no-favorites {
      color: white;
      font-family: fontText;
      padding-top: 70px;
      grid-column: 1 / -1;
      justify-self: center;

      p {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 768px) {
  .favoritesContent {
    .favorites-title {
      font-size: 16px;
    }
    .favorite-characters {
      grid-template-columns: repeat(4, 1fr);
      padding-top: 15px;
      padding-bottom: 20px;
      row-gap: 30px;

      .no-favorites {
        padding-top: 50px;

        .rick {
          height: 160px !important;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  /* laptop overrides */
  .favoritesContent {
    .favorites-title {
      font-size: 16px;
    }
    .favorite-characters {
      grid-template-columns: repeat(5, 1fr);

      .no-favorites {
        padding-top: 60px;

        .rick {
          height: 180px !important;
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
}
