.favoritesContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
  min-height: 0;

  .favorites-title {
    text-align: center;
    font-family: fontNaslov;
    color: white;
  }
  .favorite-characters {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    row-gap: 16px;

    .character-card {
      width: 65%;
      border-radius: 20px;
      box-shadow: 0px 0px 10px 1px white;
      display: flex;
      flex-direction: column;

      .character-photo {
        width: 100%;
        flex-grow: 4;
        img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
      }

      .character-name {
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-family: fontText;
        font-size: 0.7em;
        flex-grow: 1;
      }
    }
    .no-favorites {
      color: white;
      font-family: fontText;
      padding-top: 30px;
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
}
