.header {
  width: 100%;
  display: flex;
  padding: 0px 15px;
  padding-top: 40px;
  padding-bottom: 50px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .headerUser {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .headerMenu {
    svg {
      color: white;
      height: 30px;
      border-radius: 50%;
      padding: 5px;
      background-color: #2d2f3f;
    }

    .headerMenuButton {
      background: transparent !important;
      border: 0;
      padding: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

.ant-dropdown ul {
  border: 1px solid #3374c3 !important;
  background-color: #112a3e !important;

  li {
    color: white !important;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0px 20px;
    padding-top: 40px;
    padding-bottom: 50px;
    .headerUser {
      height: 45px;
      width: 45px;
    }
    .headerMenu {
      svg {
        height: 40px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0px 25px;
    padding-top: 40px;
    padding-bottom: 50px;
    .headerUser {
      height: 50px;
      width: 50px;
    }
    .headerMenu {
      svg {
        height: 42px;
      }
    }
  }
}
