.ant-modal-container {
  border: 1px solid #3374c3 !important;
  background-color: #112a3e !important;
  padding: 12px !important;
  border-radius: 20px !important;
  font-family: fontText;
  color: white;
  box-shadow: 0px 0px 10px 2px #3374c3 !important;

  .ant-modal-close-x {
    color: white !important;
  }

  .character-photo {
    text-align: center;

    img {
      border-radius: 50% !important;
      border: 2px solid #3374c3 !important;
    }
  }

  .character-name {
    text-align: center;
  }
  .add-to-favorites {
    text-align: center;

    button {
      border: none !important;
      background-color: #4ca343 !important;
      color: white;
      font-family: fontText;
    }

    button:hover {
      color: white !important;
      background-color: #66bc5c !important;
    }
  }

  .character-status-alive {
    color: #4ca343;
  }
  .character-status-dead {
    color: #ff3333;
  }
  .character-status-unknown {
    color: #e68a00;
  }
}
