.pageWrapper {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  background-image: url("../assets/photos/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .pageWrapper {
    background-position: center top;
  }
}

@media (min-width: 1024px) {
  .pageWrapper {
    background-position: center top;
  }
}
