@font-face {
  font-family: fontNaslov;
  src: url(./assets/fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
  font-family: fontText;
  src: url(./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

body {
  padding: 0px;
  margin: 0px;
}

.App {
  height: 100vh;
  width: 100vw;
}
